html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

header {
    /*margin-top: 30px;*/
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

h1 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding-bottom: 1em;
    font-weight: lighter;
}

header {
    height: 60px;
    width: inherit;
    top: 0;
    font-size: 1em;
    color: #fff;
    position: fixed;
    z-index: 200;
    background-color: #ed8b12;
}


a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    /* Make the markers disappear */
    /*list-style-type: none;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0;
    float: right;
    list-style: none;
    font-weight: bold;
    margin-right: 3vw;
    /*margin-top: 3.5vh;*/
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin: 0.3em 1em;

}

nav input[type="checkbox"],
nav label {
    display: none;
}

nav a:hover {
    color: #fff;
    border-bottom: 1px solid;
}

#logo {
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    height: 50px;
    width: 50px;
    /*padding: 4px;*/
    margin-left: 3vw;
    padding-top: 1vh;
}


.home-page-about {
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.about-page-about {
    /*position: relative;*/
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.home-about-heading-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*position: absolute;*/
    text-align: center;
}

.home-sections-headings {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0.25em;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.keywords {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0.25em;
}

.colours-light-background {
    color: #fff;
}

.colours-dark-background {
    color: #ed8b12;
}

.colours-red-background {
    color: #fff;
}

.home-about-description {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    vertical-align: center;
    font-family: 'Montserrat', sans-serif;
    /*letter-spacing: 0.1em;*/
    font-weight: bold;
    font-size: 2em;
    color: #000;
}

.about-about-description {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #000;
}

.home-read-more {
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0.25em;
    font-size: 1.5em;
    margin: 50px;
}

.more-hover:hover {
    border-bottom: 1px solid;
}

.home-page-section {
    /*position: relative;*/
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duality {
    display: flex;
    flex-wrap: wrap;
}

.duality-img {
    object-fit: contain;
    flex-shrink: 0;
    width: 80%;
    height: 80%;
}

.duality-card {
    flex: 1 0 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.duality-card-one {
    background-color: #000;
    color: #ed8b12;
}

.duality-card-two {
    background-color: #fff;
    color: #fff;
}

.duality-heading {
    padding-top: 1em;
}

.proj-item, .duality-project-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10%;
    padding: inherit;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.25), 20px 20px 10px 10px rgba(0, 0, 0, 0.2)
}

.proj-desc, .duality-desc {
    padding: 0 5% 0 5%;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.duality-desc {
    font-size: 1em;
    color: #fff
}

.duality-desc:hover {
    padding: 0;
    border-bottom: 1px solid #C1C1C1;
}

.duality-big-desc {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    padding: 10% 0;
}

.duality-big-desc {
    font-size: 1em;
    color: #fff
}

.duality-project-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duality-project-item {
    box-shadow: none
}


@media only screen and (max-width: 650px) {
    body {
        font-size: 16px;
    }

    .home-sections-headings {
        font-size: 16px;
    }

    .home-read-more {
        font-size: 16px;
    }

    .home-about-description, .keywords {
        font-size: 16px;
    }

    .home-page-about, .duality-card {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .duality-img {
        min-width: 50%;
        width: 80vw;
    }
}

@media (max-width: 1500px) {
    input[type="checkbox"]:not(:checked) + ul {
        display: none;
    }

    header {
        background-color: #ed8b12;
        font-size: 1em;
    }

    nav {
        background-color: #ed8b12;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    nav label {
        text-align: right;
        display: block;
        padding: 1.5em 1em .5em;
        line-height: 1.6em;
        align-self: center;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        letter-spacing: 1px;
        margin-right: 3vw;
    }

    nav ul {
        display: block;
    }

    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }
}